html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hide-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #008bea;
  font-size: 16px;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: Helvetica, Arial, sans-serif;
}

.mode-switcher {
  margin-top: 64px;
}

.chart {
  position: relative;
  display: flex;
  flex-direction: column;
}

.chart + .chart {
  margin-top: 32px;
}

.chart__minimap-wrapper {
  display: flex;
  margin-top: 16px;
  position: relative;
}

.chart__chart-canvas {
}

.chart__float-canvas {
  position: absolute;
}

.chart__minimap-canvas {
}

.chart__minimap-dragger {
  display: flex;
  position: absolute;
  top: 0;
  background-color: transparent;
  border: 2px solid rgba(219, 234, 244, 0.8);
  border-left: none;
  border-right: 0;
  transition-property: border-color, background-color;
  transition-duration: 0.5s;
  cursor: pointer;
}

.chart__minimap-dragger--dragging,
.chart__minimap-dragger:hover {
  background-color: rgba(240, 247, 252, 0.6);
}

.chart__minimap-dragger-arrow {
  height: 100%;
  width: 10px;
  background-color: rgba(219, 234, 244, 0.8);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.chart__minimap-dragger-arrow:hover {
  background-color: rgba(187, 213, 230, 1);
}

.chart__minimap-dragger-arrow--right {
  margin-left: auto;
}

.checkbox {
  display: flex;
  align-items: center;
  border: 1px solid #e5ecf1;
  padding: 4px 8px 4px 4px;
  border-radius: 14px;
  cursor: pointer;
  color: #42484b;
  transition-property: border-color;
  transition-duration: 0.5s;
  font-size: 14px;
}

.checkbox__title {
  color: #42484b;
  margin-left: 8px;
  transition-property: color;
  transition-duration: 0.5s;
}

.checkbox__input:not(:checked) + .checked-icon circle {
  fill: white;
}

.charts-selector {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 16px;
}

.charts-selector__item + .charts-selector__item {
  margin-left: 8px;
}

.floating-window {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  padding: 10px 12px;
  border-radius: 4px;
  box-shadow: 0 0 1px #bbbbbb;
  color: #222222;
  background-color: #ffffff;
  transition-property: transform;
  transition-duration: 0.3s;
}

.floating-window__date {
  margin: 0;
}

.floating-window__sections {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 8px 0 0 0;
  padding: 0;
}

.floating-window__section {
  display: flex;
  flex-direction: column;
}

.floating-window__section--hidden {
  display: none;
}

.floating-window__section:not(.floating-window__section--hidden)
  ~ .floating-window__section {
  margin-left: 8px;
}

.floating-window__count {
  font-weight: 600;
}

.floating-window__label {
  font-size: 14px;
}

.app.app--night {
  background-color: #222f3f;
}

.app--night .checkbox {
  border-color: #304659;
}

.app--night .checkbox__title {
  color: #e7ecee;
}

.app--night .chart__minimap-dragger-arrow {
  background-color: rgba(59, 86, 109, 0.8);
}

.app--night .chart__minimap-dragger {
  border-color: rgba(59, 86, 109, 0.8);
}

.app--night .chart__minimap-dragger--dragging,
.app--night .chart__minimap-dragger:hover {
  background-color: rgba(29, 42, 57, 0.8);
}

.app--night .floating-window {
  color: #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: #233242;
}
