html {
  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.checkbox {
  display: block;
  border: 1px solid #e5ecf1;
  padding: 4px 8px 4px 24px;
  border-radius: 14px;
  cursor: pointer;
  color: #42484b;
}

.checkbox__title {
  color: red;
}

.checkbox__input:checked + .checkbox__title {
  color: black;
}

.charts-selector {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.charts-selector__item {
  /* display: inline-block; */
}

.charts-selector__item + .charts-selector__item {
  margin-left: 8px;
}
