html {
  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hide-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 64px;
}

.chart {
  position: relative;
  display: flex;
  flex-direction: column;
}

.chart + .chart {
  margin-top: 32px;
}

.chart__minimap-wrapper {
  display: flex;
  margin-top: 16px;
  position: relative;
}

.chart__minimap-canvas {
}

.chart__minimap-dragger {
  display: flex;
  position: absolute;
  top: 0;
  background-color: rgba(1, 1, 1, 0.2);
}

.chart__minimap-dragger--dragging {
}

.chart__minimap-dragger-arrow {
  height: 100%;
  width: 10px;
  background-color: red;
}

.chart__minimap-dragger-arrow--right {
  margin-left: auto;
}

.checkbox {
  display: flex;
  align-items: center;
  border: 1px solid #e5ecf1;
  padding: 4px 8px 4px 4px;
  border-radius: 14px;
  cursor: pointer;
  color: #42484b;
}

.checkbox__title {
  color: #42484b;
  margin-left: 8px;
}

.checkbox__input:not(:checked) + .checked-icon circle {
  fill: white;
}

.charts-selector {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 16px;
}

.chart__chart-canvas {
  position: absolute;
}

.charts-selector__item + .charts-selector__item {
  margin-left: 8px;
}
